.ContenedorNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    box-shadow: 0px 4px 4px rgba(197, 160, 95, 0.2);
}

.Links{
      margin: auto;
    padding: 10px 20px;
    color: var(--crisp-white);
    text-decoration: none;
    font-size: 14px;
    animation: alternate 1s fadeIn;
    transition-duration: 300ms;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
}
.Titulo {
    font-size: 24px;
    font-weight: bold;
    color: var(--crisp-white);
    animation: alternate 1s fadeIn;
}
.Boton {
    margin: auto;
    padding: 10px 20px;
    color: var(--crisp-white);
    text-decoration: none;
    font-size: 14px;
    animation: alternate 1s fadeIn;
    border-radius: 10px;
    transition-duration: 300ms;

}
.Boton:active {
    color: rgb(122, 97, 57);
    background-color: rgb(63, 65, 68);
}
.BotonLogin {
    margin: auto;
    padding: 10px 20px;
    color: var(--crisp-white);
    text-decoration: none;
    font-size: 14px;
    animation: alternate 1s fadeIn;
    border-radius: 10px;
    transition-duration: 300ms;
    border: 0cap;
}
.BotonLogin:active {
    color: rgb(122, 97, 57);
    background-color: rgb(63, 65, 68);
}